body {
    background-color:beige;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}
.titulo-principal {
    background-color:burlywood;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}
.paragrafo-1 {
    background-color: burlywood;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}